#contact_modal {
  display: none;
  position: absolute;
  top: 50px;
  width: 100%;
}
#form-textarea {
  width: 100%;
  resize: none;
}
.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

.photograph-header img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  object-fit: cover;
}

.photograph-header h1 {
  color: #d3573c;
  font-size: 36px;
}

.location__container {
  font-weight: bold !important;
}

.photographer-header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.photographer__name {
  margin: 0;
}
main img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.media-container {
  width: 26%;
  cursor: pointer;
  margin-bottom: 30px;
}

.medias-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 100px;
}

.medias-container img {
  margin-bottom: 10px; /* Ajoute de l'espace en bas de chaque élément */
  object-fit: cover;
  width: 100%;
  height: 22.5vw;
  border-radius: 5px;
}
.medias-container video {
  margin-bottom: 10px;
  object-fit: cover;
  width: 100%;
  height: 22.5vw;
  border-radius: 5px;
}
.media-title {
  color: #901c1c;
  font-weight: 700;
}
.price-and-total-likes {
  background-color: #d3573c;
  font-weight: bolder;
  width: 200px;
  position: fixed;
  right: 20px;
  bottom: 0px;
  text-align: right;
  padding: 15px 20px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.price-tag-heart {
  margin-left: 5px;
}

.dropdown {
  margin: 50px 0 100px 100px;
  display: flex;
  justify-content: space-between;
  width: 250px;
  position: relative;
}

.fa-chevron-up,
.fa-chevron-down {
  position: absolute;
  top: 23px;
  right: 20px;
  color: white;
}

/* .fa-heart {
  color: #901c1c;
} */

.displayed-arrow {
  display: inline !important;
}
.not-displayed-arrow {
  display: none !important;
}

.dropdown-buttons {
  width: 150px;
  background-color: #901c1c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 15px;
}

.dropdown-button {
  background-color: #901c1c;
  width: 150px;
  color: white;
  padding: 15px 10px 15px 15px;
  border: none;
  /* border: 0.5px white solid; */
  border-bottom: 0.5px white solid;
  cursor: pointer;
  text-align: start;
}
.dropdown-button1 {
  border: none;
}

.last-dropdown-button {
  border-bottom: none;
}

/* .not-displayed-options {
  display: none;
} */
.all-options-displayed {
  display: block;
}
.dropdown-buttons .option2 {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.name-likes-container {
  display: flex;
  justify-content: space-between;
}
.heart-and-number {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  color: #901c1c;
}
.heart-and-number p {
  font-weight: bold;
  margin-right: 5px;
}

.media-heart {
  cursor: pointer;
}

.lightbox-img {
  width: 300px;
  height: 200px;
}

/* lightbox */

#lightbox_modal {
  display: none;
}

.lightbox-content {
  display: flex;
  justify-content: space-between;
  padding: 5vw 10% 0 10%;
  position: relative;
}
.lightbox-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.lightbox-media-container {
  width: 50vw;
  height: 40vw;
  margin: 0 50px;
}
.lightbox-arrow {
  color: #901c1c;
}
.lightboxImgTitle {
  margin-top: 15px;
  color: #901c1c;
  font-weight: bold;
}

.close-lightbox {
  font-size: 4em;
  color: #901c1c;
  position: absolute;
  right: 10%;
}

#nextButton,
#prevButton,
.close-lightbox {
  background: none; /* Supprime le fond */
  border: none; /* Supprime la bordure */
  padding: 0; /* Supprime le padding */
  cursor: pointer; /* Assure que le curseur devient un pointeur au survol */
  outline: inherit; /* Utilise le contour hérité (utile pour l'accessibilité) */
}
